/* Universal Selector */
* {
  /* font-family: monospace; */
}

/* Element Selector */
body {
  font-size: 22px;
}

h1,
h2 {
  color: blue;
}

/* Paragraph Selector */
p {
  color: purple;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}

/* Class Selector */
.gray {
  color: gray;
}

/* Id Selector */
#second {
  font-style: italic;
}
