* {
  font-family: Hack;
}

/* last rule/aturan terakhir */
i {
  color: aqua;
}

i {
  color: goldenrod; /* yang di po\ilih ini */
}

/* specific */
b {
  color: blueviolet; /*level 1*/
}

p b {
  color: brown !important; /*level 3*/
}

p b {
  color: chartreuse; /*level 2*/
}

/* studi kasus */
p {
  font-size: 100%;
}

p#pendahuluan {
  font-size: 75%;
} /*lebih specific*/
